.rad {
  text-align: center;
  color: hsl(223, 95%, 67%);
  margin-top: 0;
}

.list {
  text-align: center;
  width: 3rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: solid 10px hsl(239, 100%, 84%);
}

.black {
  background-color: black;
  color: white;
}
.white {
  background-color: white;
  color: black;
}
.purple {
  background-color: hsl(239, 100%, 84%);
  color: white;
}

div {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  border: solid 1px black;
}
